section {
    border: 2px solid red;
}

#section1 {
    border: 2px solid green;
}

#section2 {
    border: 2px solid blue;
}

#section3 {
    border: 2px solid yellow;
}

/* overall simplified styling using a single class */

.font-playfair {
    font-family: 'Playfair Display', sans-serif;
}

.pad {
    padding: 100px 0px;
}


/* Styling for the Atos Logo */

.c-hero {
    border: 16px solid white;
}

.c-logo.c-logo-landing {
    margin-top: 55px;
}

.c-logo {
    width: 133px;
    height: 60px;
    background-image: url(/Atos-logo.svg);
    background-position: 50% 50%;
    background-size: 130px;
    background-repeat: no-repeat;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

a {
    background-color: transparent;
}

/* Section 1 */

.c-spacer {
    margin-top: 40px;
}

.c-landing-img {
    width: 100%;
    height: 250px;
    /* background: linear-gradient(to bottom right, #f78f90, #ea5656); */
    background-image: url(/blog-content-offer.png), linear-gradient(to bottom left, #f78f90, #ea5656);
    background-position: 50% 50%, 50% 50%;
    background-size: 259px, cover;
    background-repeat: no-repeat, no-repeat;
}

.c-heading-body {
    margin: 0px;
    color: black;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 400;
}

.c-section1-left {
    width: 85%;
    float: left;
}

.c-heading-sub.u-color {
    color: #a8a8a8;
}

.c-heading-sub {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
    margin-top: 20px;
}