section {
    border: 2px solid red;
}

#section1 {
    border: 2px solid green;
}

#section2 {
    border: 2px solid blue;
}

#section3 {
    border: 2px solid yellow;
}

* {
    box-sizing: border-box;
}

/* overall simplified styling using a single class */

.font-playfair {
    font-family: 'Playfair Display', sans-serif;
}

.pad {
    padding: 100px 0px;
}


/* Styling for the Atos Logo */


.c-hero--contact {
    height: 200px;
}

.c-logo.c-logo-landing {
    margin-top: 55px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.c-logo {
    width: 133px;
    height: 60px;
    background-image: url(/images/Atos-logo.svg);
    background-position: 50% 50%;
    background-size: 130px;
    background-repeat: no-repeat;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

a {
    background-color: transparent;
}

/* Section 1 */

.c-spacer {
    margin-top: 40px;
}

.c-landing-img {
    width: 100%;
    height: 250px;
    background-image: url(/images/blog-content-offer.png), linear-gradient(to bottom left, #f78f90, #ea5656);
    background-position: 50% 50%, 50% 50%;
    background-size: 259px, cover;
    background-repeat: no-repeat, no-repeat;
}

.c-heading-body {
    margin: 0px;
    color: black;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 400;
}

.c-section1-left {
    width: 85%;
    float: left;
}

.c-heading-sub.u-color {
    color: #a8a8a8;
}

.c-heading-sub {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
    margin-top: 20px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.landing-form-wrapper {
    padding: 35px;
    background-color: #f0f0f0;
}

.form-wrapper {
    margin: 0 0 15px;
}

.form-input.apply-field {
    border-color: #d3d3d3;
    background-color: transparent;
    font-size: 16px;
}

.form-input.apply-field:focus {
    border-color: #fbe76c;
}

.form-input {
    margin-bottom: 17px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 25px;
    border: 3px solid #f0f0f0;
    line-height: 26px;
    font-weight: 400;
}

.w-input,
.w-select {
    display: block;
    width: 100%;
    height: 38px;
    /* padding: 8px 12px; */
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    /* border: 1px solid #cccccc; */
}

.btn-submit--yellow {
    width: 100%;
    padding: 19px 55px;
    background-color: #fbe76c;
    box-shadow: none;
    font-weight: 600;
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px;
    }
}

@media screen and (max-width: 767.5px) {
    .w-container {
        background-color: blue;
    }

    .c-section1-left {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .landing-form-wrapper {
        margin-top: 30px;
    }
}


/* Section 2 */

.container-item.container--w-large {
    z-index: 10;
    width: 97%;
}

.container-item {
    position: relative;
}

.heading-body {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 400;
}

.spacer--large {
    height: 60px
}

.statement-wrapper {
    position: static;
}

.icon-box {
    display: block;
}

.icon-box-left {
    float: left;
}

.icon-box-right {
    overflow: hidden;
    width: auto;
}

.icon-box-icon.icon-box-icon--medium {
    width: 50px;
    height: 50px;
}

.icon-box-icon {
    margin-right: 30px;
    text-align: center;
}

.o-image.o-image--full {
    width: 100%;
}

.o-image {
    height: auto;
    max-height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.icon-box-right {
    overflow: hidden;
    width: auto;
}

.icon-box-heading {
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
}

.icon-box-right p {
    font-family: Montserrat, sans-serif;
    color: #80858f;
    line-height: 26px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}


/* .hero-social-content.landing-share {
    position: relative;
    text-align: right;
}

.hero-social-content {
    z-index: 2;
    transform: rotate(90deg);
    color: #000;
    font-weight: 500;
    flex: 0 auto;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-social-content-p {
    letter-spacing: 1px;
}


.hero-social-content-line {
    display: inline-block;
    width: 50px;
    height: 1px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: #000;
} */

.hero-social-content.landing-share {
    position: absolute;
    top: 100px;
    right: -200px;
    margin-top: 100px;
    width: 578px;
}

.hero-social-content {
    position: relative;
    right: -220px;
    z-index: 2;
    /* width: 536px; */
    flex: 0 auto;
    transform: rotate(90deg);
    color: #000;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-social-content-p {
    display: inline-block;
    letter-spacing: 1px;
}

.hero-social-content-line {
    display: inline-block;
    width: 50px;
    height: 1px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: #000;
}

.hero-social-content-icons-wrapper {
    display: inline-block;
    margin-left: 10px;
    transform: none;
}

.social-link {
    margin-left: 15px;
    font-size: 20px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.social-icon.rotate {
    transform: rotate(-90deg);
    color: #000;
}


/* Section 3 */

.statement-wrapper {
    position: static;
}

.quote-wrapper {
    position: relatvie;
    top: 0px;
    display: block;
    width: 100px;
    height: 100px;
    padding: 32px 28px;
    float: left;
    border: 5px solid #fbe76c;
}

.intheline {
    display: inline;
}

.test-statement.proof-text {
    position: absolute;
    transform: rotate(90deg) translate(180px, 80px);
    left: 0px;
    bottom: 0px;

}

.secondp {
    width: 200px;
}


/* .test-statement {
    position: relative;
    transform: rotate(90deg);
    color: #d3d3d3;
    text-transform: uppercase;
}

.statement-line {
    display: inline;
    width: 50px;
    height: 1px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: #dfdede;
} */


/*

.spacer.spacer--super {
    height: 100px;
}

.spacer.spacer--large {
    height: 60px;
}

.slider {
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.slider {
    text-align: center;
    background: #dddddd;
    clear: both;
}

.slider-mask {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
}

.slide {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left;
}

.heading-body {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 400;
}

.testimonial-img {
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 100px;
    background-color: #fbe76c;
    background-image: url(/images/testimonial-1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial-text {
    display: inline-block;
    margin-top: 21px;
    margin-left: 40px;
    float: left;
    color: #b8b8b8;
    font-weight: 400;
}

.testimonial-img.two {
    background-image: url(/images/testimonial-2.jpg);
    background-position: 44% 22%;
    background-size: 200px;
}

.testimonial-img.three {
    background-image: url(/images/testimonial-3.png);
    background-position: 50% 21%;
    background-size: 200px;
}

.slider-left-arrow {
    right: 0px;
    z-index: 3;
    width: 50px;
    height: 50px;
    margin: auto 46px 0px auto;
    padding: 13px;
    background-image: url(/images/arrow-down-left.svg);
    background-position: 50% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    transition: all 500ms ease;
}

.slider-right-arrow {
    z-index: 3;
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 13px;
    background-image: url(/images/arrow-down-right.svg);
    background-position: 50% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    transition: all 500ms ease;
}

.slider-arrow-left {
    z-index: 3;
    right: auto;
}

.slider-arrow-right {
    z-index: 4;
    left: auto;
}

.slider-arrow-left,
.slider-arrow-right {
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    color: white;
    font-size: 40px;
}

.slider-pagination {
    text-align: left;
}

.slider-nav {
    position: absolute;
    z-index: 2;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 10px;
    height: 40px;
    text-align: center;
}

.slider-dot {
    width: 30px;
    height: 2px;
    background: #d2d2d2 !important;
    transition: 300ms;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    border-radius: 0px !important;
}

.slider-dot {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin: 0 3px .5em;
    transition: background-color 100ms, color 100ms;
}

.slider-dot.w-active {
    width: 30px;
    height: 2px;
    background: #000000 !important;
} */