/* section {
    border: 2px solid red;
} */

/* #section1 {
    border: 2px solid green;
}

#section2 {
    border: 2px solid blue;
}

#section3 {
    border: 2px solid yellow;
} */

* {
    box-sizing: border-box;
}

/* overall simplified styling using a single class */

.font-playfair {
    font-family: 'Playfair Display', sans-serif;
}

.pad {
    padding: 100px 0px;
}


/* Styling for the Atos Logo */


.c-hero--contact {
    height: 200px;
}

.c-logo.c-logo-landing {
    margin-top: 55px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.c-logo {
    width: 133px;
    height: 60px;
    background-image: url(/images/Atos-logo.svg);
    background-position: 50% 50%;
    background-size: 130px;
    background-repeat: no-repeat;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

a {
    background-color: transparent;
}

/* Section 1 */

.c-spacer {
    margin-top: 40px;
}

.c-landing-img {
    width: 100%;
    height: 250px;
    background-image: url(/images/blog-content-offer.png), linear-gradient(to bottom left, #f78f90, #ea5656);
    background-position: 50% 50%, 50% 50%;
    background-size: 259px, cover;
    background-repeat: no-repeat, no-repeat;
}

.c-heading-body {
    margin: 0px;
    color: black;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 400;
}

.c-section1-left {
    width: 85%;
    float: left;
}

.c-heading-sub.u-color {
    color: #a8a8a8;
}

.c-heading-sub {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
    margin-top: 20px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.landing-form-wrapper {
    padding: 35px;
    background-color: #f0f0f0;
}

.form-wrapper {
    margin: 0 0 15px;
}

.form-input.apply-field {
    border-color: #d3d3d3;
    background-color: transparent;
    font-size: 16px;
}

.form-input.apply-field:focus {
    border-color: #fbe76c;
}

.form-input {
    margin-bottom: 17px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 25px;
    border: 3px solid #f0f0f0;
    line-height: 26px;
    font-weight: 400;
}

.w-input,
.w-select {
    display: block;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}

.btn-submit--yellow {
    width: 100%;
    padding: 19px 55px;
    background-color: #fbe76c;
    box-shadow: none;
    font-weight: 600;
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px;
    }
}

@media screen and (max-width: 767.5px) {

    .c-section1-left {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .landing-form-wrapper {
        margin-top: 30px;
    }

    .pad {
        padding: 60px 0px;
    }

    .icon-box-right p {
        max-width: 529px;
    }

    .testimonial-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .c-spacer.spacer--super.hide {
        display: none;
    }

    .test-statement {
        display: none;
    }

    .c-spacer.spacer--large.hide {
        display: none;
    }

    .quote-wrapper.u--center {
        margin-bottom: 30px;
    }

}




/* Section 2 */

.container-item.container--w-large {
    z-index: 10;
    width: 97%;
}

.container-item {
    position: relative;
}

.heading-body {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 400;
}

.spacer--large {
    height: 60px
}

.statement-wrapper {
    position: static;
}

.icon-box {
    display: block;
}

.icon-box-left {
    float: left;
}

.icon-box-right {
    overflow: hidden;
    width: auto;
}

.icon-box-icon.icon-box-icon--medium {
    width: 50px;
    height: 50px;
}

.icon-box-icon {
    margin-right: 30px;
    text-align: center;
}

.o-image.o-image--full {
    width: 100%;
}

.o-image {
    height: auto;
    max-height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.icon-box-right {
    overflow: hidden;
    width: auto;
}

.icon-box-heading {
    word-wrap: break-word;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 400;
}

.icon-box-right p {
    font-family: Montserrat, sans-serif;
    color: #80858f;
    line-height: 26px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

@media screen and (max-width: 549.5px) {
    .icon-box-left {
        float: none;
    }

    .icon-box-icon {
        margin-bottom: 20px;
    }

    .spacer--large {
        height: 20px
    }
}

.hero-social-content.landing-share {
    position: absolute;
    top: 100px;
    right: -200px;
    margin-top: 100px;
    width: 578px;
}

.hero-social-content {
    position: relative;
    right: -220px;
    z-index: 2;
    flex: 0 auto;
    transform: rotate(90deg);
    color: #000;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-social-content-p {
    display: inline-block;
    letter-spacing: 1px;
}

.hero-social-content-line {
    display: inline-block;
    width: 50px;
    height: 1px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: #000;
}

.hero-social-content-icons-wrapper {
    display: inline-block;
    margin-left: 10px;
    transform: none;
}

.social-link {
    margin-left: 15px;
    font-size: 20px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.social-icon.rotate {
    transform: rotate(-90deg);
    color: #000;
}


/* Section 3 */

.bg-grey {
    background-color: #f7f7f7;
}

.statement-wrapper {
    position: static;
}

.quote-wrapper {
    position: relatvie;
    top: 0px;
    display: block;
    width: 100px;
    height: 100px;
    padding: 32px 28px;
    float: left;
    border: 5px solid #fbe76c;
}

@media screen and (max-width: 991px) {
    .quote-wrapper {
        width: 70px;
        height: 70px;
        padding: 15px;
    }

    .test-statement.proof-text {
        left: 0px;
        bottom: -55px;
        transform: rotate(90deg) translate(-440px, 145px);
    }

    .heading-body .testimonial-heading {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .quote-wrapper {
        margin-left: 18px;
    }
}

.intheline {
    display: inline;
}

.statement-line {
    display: inline-block;
    width: 50px;
    height: 1px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 0px;
    background-color: #dfdede;
}

.test-statement {
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: rotate(90deg) translate(-280px, 130px);
    color: #d3d3d3;
    text-transform: uppercase;
}


.secondp {
    width: 200px;
}


.slider-mask {
    position: relative;
}

.slider-mask .slide:focus {
    outline: 0px transparent !important;
}

.slider-mask .prev-arrow {
    position: absolute;
    bottom: 0px;
    left: 88%;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    transition: all 500ms ease;
}

.slider-mask .next-arrow {
    position: absolute;
    bottom: 0px;
    left: 95%;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
    transition: all 500ms ease;
}

.slider-mask .next-arrow:hover,
.slider-mask .prev-arrow:hover {
    color: #fde787;
}

.slick-dots {
    list-style: none;
    height: 45px;
    padding-left: 0px;
    margin-top: 40px;
}

.slick-dots li {
    display: inline-block;
    font-size: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.slick-dots button:hover {
    background-color: #fde787;
    transition: all 500ms ease;
}

.slick-dots button:focus {
    outline: 0px transparent !important;
}

.slick-dots button {
    width: 30px;
    height: 2.4px;
    line-height: 0;
    background-color: #d2d2d2;
    padding: 0;
    border: none;
}

.slick-active button {
    background-color: #000000 !important;
}

.one {
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 100px;
    background-color: #fbe76c;
    background-image: url(/images/testimonial-1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.two {
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 100px;
    background-color: #fbe76c;
    background-image: url(/images/testimonial-2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.three {
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 100px;
    background-color: #fbe76c;
    background-image: url(/images/testimonial-3.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonial-text {
    display: inline-block;
    margin-top: 21px;
    margin-left: 40px;
    color: #b8b8b8;
    font-weight: 400;
}